# --- PYTHON COPLERI ---
__pycache__/
*.pyc

# --- SANAL ORTAM (Cok Onemli: Asla yukleme) ---
venv/
.venv/
env/

# --- BUYUK MEDYA DOSYALARI ---
# Videolari yukleme, GitHub'i tikar.
datasets/
*.mp4
*.avi
*.mov

# --- MODEL DOSYALARI ---
# Modeller kod calisinca otomatik iner.
*.pt
*.onnx

# --- IDE AYARLARI ---
.vscode/
.idea/

# --- GENEL ---
.DS_Store

