# Sanal Ortam
.venv/
venv/

# Python Çöpleri
__pycache__/
*.pyc

# Veri Setleri
datasets/

# Tüm runs klasörünü yoksay
runs/

# İndirilen Ağır Modeller (Bunları yükleme!)
*.pt
*.onnx

# Geçici Config Dosyaları
*_temp.yaml

# Sistem Dosyaları
.DS_Store

*.mp4
*.avi
*.jpg
*.png

# Sistem dosyalari
.DS_Store